---
import socialImage from "/img/cedalion-social.webp";

export interface Props {
	siteTitle?: string;
	siteDescription?: string;
}

const canonicalURL = "/";
const { siteTitle, siteDescription } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.svg" />

<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={siteDescription} />

<meta property="og:type" content="website" />
<meta property="og:title" content={siteTitle} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:description" content={siteDescription} />
<meta property="og:image" content={socialImage} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:description" content={siteDescription} />
<meta property="twitter:image" content={socialImage} />

<!-- Google tag (gtag.js) -->
<script
	type="text/partytown"
	src="https://www.googletagmanager.com/gtag/js?id=G-7CB94GJMQV"></script>
<script type="text/partytown">
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag("js", new Date());

	gtag("config", "G-7CB94GJMQV");
</script>

<!-- Hotjar Tracking Code for https://cedalion.io -->
<script type="text/partytown">
	(function (h, o, t, j, a, r) {
		h.hj =
			h.hj ||
			function () {
				(h.hj.q = h.hj.q || []).push(arguments);
			};
		h._hjSettings = { hjid: 3586261, hjsv: 6 };
		a = o.getElementsByTagName("head")[0];
		r = o.createElement("script");
		r.async = 1;
		r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
		a.appendChild(r);
	})(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
</script>
